@model MVCCourse2017.ViewModels.NewCustomerVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Date Of Birth</label>
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Customer.Birthdate,"", new { @class = "text-danger" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)Subscribed To News letter?
        </label>
    </div>
    <div class="form-group">
        <div>
            <label>Member Ship Type</label>
        </div>
        <div class="dropdown">
            @Html.DropDownListFor(
           m => m.Customer.MembershipTypeId,
           new SelectList(Model.MembershipTypes, "Id", "Name", "-1"), "Please Select..", new { @class = "form-control" }
       )

            @Html.ValidationMessageFor(model => model.Customer.MembershipTypeId, "*", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />

        </div>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}


