@using GridMvc.Html
@model IEnumerable<MVCCourse2017.Models.Customer>

@{
    ViewBag.Title = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grid</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(g => g.Id).Titled("Genr ID").SetWidth(110).Sortable(true).Filterable(true);
    columns.Add(g => g.Name).Sortable(true).Filterable(true);
    columns.Add(g => g.MembershipType.Name).Sortable(true).Titled("MembershipType");
    columns.Add(g => g.Birthdate).Format("{0:dd/MM/yyyy}");
    columns.Add().
    Titled("Edit").
    Encoded(false).
    Sanitized(false).
    SetWidth(230).
    RenderValueAs
    (
        Itm => @Html.ActionLink("Details", "Details", new { id = Itm.Id })+
        " "+ @Html.ActionLink("Edit", "Edit", new { id = Itm.Id })+
        " " + @Html.ActionLink("Delete", "Delete", new { id = Itm.Id })
    );

}).WithPaging(5)