@model IEnumerable<MVCCourse2017.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table" id="tblCustomers">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSubscribedToNewsletter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembershipTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembershipType.DiscountRate)
                </th>
                <th>
                    Actions
                </th>
                <th>
                    Delete by JQuery
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", "Customers", new { id = item.Id }, null)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSubscribedToNewsletter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipTypeId)-
                        @Html.DisplayFor(modelItem => item.MembershipType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipType.DiscountRate)%
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.Id },
            new { onclick = "return confirm('Are you sure you wish to delete this customer?');" }
           )

                    </td>
                    <td>
                        <button class="btn btn-danger  btn-xs js-delete"
                                data-custid="@item.Id">
                            X
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(
            function () {

                $("#tblCustomers").DataTable();

                //without filter(render in page for each control):
                //$("#tblCustomers .js-delete").on("click",
                //with filter(render in page once time):
                $("#tblCustomers").on("click", ".js-delete",

                    function () {
                        debugger;
                        var deletButton = $(this);

                        bootbox.confirm(
                            "Are you sure you wish to delete this customer  with ID :" + $(this).attr("data-custid") + "?",
                            function (result) {

                                if (result) {

                                    $.ajax(
                                        {
                                            url: "/api/customers/DeleteCustomer?cID=" + $(this).attr("data-custid"),
                                            method: "DELETE",
                                            success: function () {
                                                // debugger;
                                                //alert('Deleted!');
                                                deletButton.parents("tr").remove();
                                            }
                                        }
                                    );

                                }

                            }
                        );
                    }
                )

            }
        );


    </script>

}